* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Quick";
  src: url("fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}
body {
  font-family: "Quick", sans-serif;
  min-height: 100vh;
}

.navbar {
  top: 0;
  z-index: 1000;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.logo img {
  height: 80px;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #f5deb3;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #00e5ff;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  height: calc(100vh - 104px);
  background:
    linear-gradient(rgba(0, 0, 0, 0.55)),
    url("https://images.unsplash.com/photo-1574629810360-7efbbe195018");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  animation: fadeDown 1s ease;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  animation: fadeUp 1.2s ease;
}

.btn {
  text-decoration: none;
  padding: 14px 28px;
  background: #00c896;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #009b73;
  transform: translateY(-3px);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  filter: brightness(60%);
}

/* tournament */

.tournament {
  padding: 80px 8%;
  background: #d0e7e6;
}

.tournament-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #0f172a;
}

.tournament-container {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 35px;
}

.tournament-card {
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.tournament-card:hover {
  transform: translateY(-8px);
}

.tournament-card h2 {
  color: #00c896;
  margin-bottom: 20px;
  font-size: 2rem;
}

.tournament-card p {
  line-height: 1.8;
  color: #444;
  margin-bottom: 30px;
}

.overview-info {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20px;
}

.info-box {
  background: #f4f7fb;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}

.info-box h3 {
  font-size: 2rem;
  color: #00c896;
}

.info-box p {
  margin-top: 8px;
  color: #555;
}

.format-flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.format-flow div {
  width: 220px;
  background: #00c896;
  color: white;
  padding: 14px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.format-flow span {
  font-size: 1.8rem;
  color: #00c896;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 18px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  transform: translateY(100%);
  transition: 0.4s ease;
}

.gallery-item:hover .overlay {
  transform: translateY(0);
}

.winners {
  padding: 80px 20px;
  text-align: center;
  background-color: #d0e7e6;
}

.winners h2 {
  font-size: 2.8rem;
  color: #0f172a;
  margin-bottom: 10px;
}

.winners p {
  margin-bottom: 40px;
}

.winner-cards {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.winner-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.winner-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(250, 204, 21, 0.3);
}

.winner-card h3 {
  color: #00e5ff;
  margin-bottom: 12px;
  font-size: 1.8rem;
}

.winner-card span {
  font-size: 1.2rem;
  font-weight: bold;
}

.world-map {
  padding: 80px 20px;
  text-align: center;
  background-color: #d0e7e6;
}

.world-map h2 {
  font-size: 2.8rem;
  color: #0f172a;
  margin-bottom: 10px;
}

.world-map p {
  color: #cbd5e1;
  margin-bottom: 40px;
}

.map-container {
  max-width: 1200px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.map-container iframe {
  width: 100%;
  height: 600px;
  border: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #d0e7e6;
  padding: 50px 20px 25px;
  text-align: center;
  border-top: 2px solid #010d0f;
}

.footer-content h2 {
  color: #0f172a;
  font-size: 2rem;
}

.footer-content p {
  color: #cbd5e1;
  margin-bottom: 15px;
}

.footer-links {
  margin: 25px 0;
}

.footer-links a {
  color: #000;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #00e5ff;
}

.footer ul a {
  text-decoration: none;
}
.footer ul {
  list-style: none;
}
/* Responsive Design */

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .tournament-container {
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }

  .winner-cards {
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }

  .overview-info {
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }

  .map-container iframe {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px;
  }

  .logo img {
    height: 60px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  nav a {
    font-size: 1rem;
  }

  .hero {
    height: auto;
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 2.4rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .btn {
    padding: 12px 22px;
  }

  .hero-video {
    height: 300px;
  }

  .tournament {
    padding: 50px 5%;
  }

  .tournament-title,
  .winners h2,
  .world-map h2 {
    font-size: 2rem;
  }

  .tournament-container,
  .winner-cards,
  .overview-info {
    grid-template-columns: 100%;
  }

  .tournament-card {
    padding: 25px;
  }

  .format-flow div {
    width: 100%;
  }

  .map-container iframe {
    height: 350px;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .tournament-title,
  .winners h2,
  .world-map h2 {
    font-size: 1.7rem;
  }

  .tournament-card h2 {
    font-size: 1.5rem;
  }

  .winner-card h3 {
    font-size: 1.4rem;
  }

  .footer-links a {
    display: block;
    margin: 10px 0;
  }

  .map-container iframe {
    height: 250px;
  }
}
